doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href='/css/admin.css')

  body
    block content
    script(src='/admin/build/bundle.js')
